{% import_yaml 'spark/defaults.yaml' as defaults %}

{% set spark = salt['pillar.get']( 'spark', default=defaults.spark, merge=True) %}

{% do spark.update({'version_path': spark.install_dir ~ "/spark-" ~ spark.version}) %}
