[Unit]
Description=Spark Worker Slave
Wants=basic.target
After=network.target

[Service]
User={{user}}
Group={{group}}
Type=forking
EnvironmentFile=/etc/default/spark_worker
ExecStart={{version_path}}/sbin/start-slave.sh $ARGS
ExecStop={{version_path}}/sbin/stop-slave.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
