[Unit]
Description=Spark Master
Wants=basic.target
After=network.target

[Service]
User={{user}}
Group={{group}}
Type=forking
EnvironmentFile=/etc/default/spark_master
PIDFile=/var/run/spark--org.apache.spark.deploy.master.Master-1.pid
ExecStart={{version_path}}/sbin/start-master.sh $ARGS
ExecStop={{version_path}}/sbin/stop-master.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
