##### File managed by Saltstack #####
SPARK_PID_DIR=/var/run

# Options to append to start-master.sh script
ARGS="{{worker_args}} {{master_uri}}"

## Possible options
# -h HOST, --host HOST	Hostname to listen on
# -p PORT, --port PORT	Port for service to listen on (default: random for worker)
# --webui-port PORT	Port for web UI (default: 8081 for worker)
# -c CORES, --cores CORES	Total CPU cores to allow Spark applications to use on the machine (default: all available)
# -m MEM, --memory MEM	Total amount of memory to allow Spark applications to use on the machine, in a format like 1000M or 2G (default: your machine's total RAM minus 1 GB)
# -d DIR, --work-dir DIR	Directory to use for scratch space and job output logs (default: SPARK_HOME/work)
# --properties-file FILE	Path to a custom Spark properties file to load (default: conf/spark-defaults.conf)
